In [1]:
import pandas as pd

In [2]:
names = ['Bob','Jessica','Mary','John','Mel'] 
grades = [76,95,77,78,99] 
bsdegrees = [1,1,0,0,1] 
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

In [3]:
Degrees = zip(names,grades,bsdegrees,msdegrees,phddegrees)

In [4]:
columns = ['Names','Grades','BS','MS','PhD']

In [5]:
df = pd.DataFrame(data = Degrees, columns=columns)

In [15]:
print('Count of given Data')
print(df.count())

Count of given Data
Names     5
Grades    5
BS        5
MS        5
PhD       5
dtype: int64

In [16]:
print('\nMean of given Data')
print(df.mean())

Mean of given Data
Grades    85.0
BS         0.6
MS         0.6
PhD        0.2
dtype: float64

In [17]:
print('\nStandard Deviation of given Data')
print(df.std())

Standard Deviation of given Data
Grades    11.067972
BS         0.547723
MS         0.894427
PhD        0.447214
dtype: float64

In [18]:
print('\nmin of given Data')
print(df.min())

min of given Data
Names     Bob
Grades     76
BS          0
MS          0
PhD         0
dtype: object

In [19]:
print('\nmax of given Data')
print(df.max())

max of given Data
Names     Mel
Grades     99
BS          1
MS          2
PhD         1
dtype: object

In [20]:
print('\nfirst quartile of given Data')
print(df.quantile(0.25))

first quartile of given Data
Grades    77.0
BS         0.0
MS         0.0
PhD        0.0
Name: 0.25, dtype: float64

In [21]:
print('\nsecond quartile of given Data')
print(df.quantile(0.5))

second quartile of given Data
Grades    78.0
BS         1.0
MS         0.0
PhD        0.0
Name: 0.5, dtype: float64

In [22]:
print('\nthird quartile of given Data')
print(df.quantile(0.75))

third quartile of given Data
Grades    95.0
BS         1.0
MS         1.0
PhD        0.0
Name: 0.75, dtype: float64

In [23]:

print('\nvar of given Data')
print(df.var())

var of given Data
Grades    122.5
BS          0.3
MS          0.8
PhD         0.2
dtype: float64